{namespace neos=Neos\Neos\ViewHelpers}
{namespace dpsg=DPSG\CampGround\ViewHelpers}

<div>
	<div id="{node.name}" class="facebook-events">
		<h1>{node.properties.title}</h1>
		<dpsg:facebook.events sinceDays="{node.properties.sinceDays}" untilDays="{node.properties.untilDays}" maxEvents="{node.properties.maxEvents}" coverType="normal">

			<f:if condition="newYear">
				<h2>{event.start_time -> f:format.date(format: 'Y')}</h2>
			</f:if>
			<f:if condition="newMonth">
				<h3>{event.start_time -> f:format.date(cldrFormat: 'LLLL', forceLocale: true)}</h3>
			</f:if>

			<div class="event">

				<div class="event-date-column">
					{event.start_time -> f:format.date(format: 'd')}
				</div>

				<div class="event-cover event-cover-large">
					<a href="{event.url}">
						<img src="{event.cover.url}" width="100px" height="100px">
					</a>
				</div>
				<div class="event-info">
					<h5>{event.name}</h5>
					<div class="event-time">
						<f:if condition="{event.end_time}">
							<f:then>
								{event.start_time -> f:format.date(format: 'd.m.Y H:i')}
							</f:then>
							<f:else>
								{event.start_time -> f:format.date(format: 'd.m.Y H:i')}
							</f:else>
						</f:if>
					</div>
					<div class="event-location">
						{event.location}
					</div>
					<div>
						{event.description}
					</div>
				</div>
			</div>
		</dpsg:facebook.events>
	</div>
</div>
