#story-carousel {
  max-width:  750px;
  max-height: 425px;

  border: 7px solid white;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #ccc;
  margin-bottom: 40px;

  .carousel-inner {

     margin-bottom:50px;

    .carousel-caption {
      width: 300px;
      left: 10%;
      padding-bottom: 0;
      text-shadow: 0 1px 2px rgba(0,0,0,0.3);

      h3 {
        background: rgba(255,255,255,0.7);
        line-height: 30px;
        padding: 10px 0;
      }

      h3:hover {
        text-decoration: underline;
      }
    }
  }

  .carousel-indicators {
    bottom:-50px;

    li {
      border-color: $dpsg-blue;
    }

    .active {
      background-color: $dpsg-blue;
    }
  }
}