.header {
  .logo {
	padding: 10px;
  }

  .site-title {
	font-size: 	$font-size-h3;
    text-align: right;
  }

  .header-right {
    margin-top: 60px;
  }

  #otherPlatformsContainer {
    text-align: right;
  }
}