@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
	display: block;
  }
}

.nav {
  li {
  	font-size: 1.2em;
	font-family: $font-alternative;
  }
}

.nav-pills {
  li {
	background-color: white;
	color: $dpsg-blue;
  }
}

.neos-contentcollection {
  nav {
    li {
      a {
        color: $dpsg-blue;
        padding: 5px 15px;
      }
    }
  }
}