.neos-nodetypes-textwithimage, .neos-nodetypes-image, .story-header-image {
  display: table;

  figure {
    border: 5px solid white;
    margin-bottom: 5px;
    display: table;
    background-color: white;
  }

  figcaption {

    background-color: white;

    p {
      margin: 0;
      padding: 4px 0 0 0;
    }
  }

  img {
    max-width: 100%
  }

  .neos-alignment-left {
    float: left;
    margin: 7px 7px 7px 0;
  }

  .neos-alignment-right {
    float: right;
    margin: 7px 0 7px 7px;
  }
}

.neos-nodetypes-threecolumn, .neos-nodetypes-fourcolumn, .blog-header-image {
  margin-bottom: 10px;
}

