{namespace media=Neos\Media\ViewHelpers}
<div class="story-header-image">
    <figure>
        <f:if condition="{image}">
            <f:then>
                <f:if condition="{node.context.workspace.name} == 'live'">
                    <a href="{media:uri.image(image: image.originalImage, maximumWidth: '2480', maximumHeight: '1024')}" class="lightbox">
                </f:if>
                <media:image image="{image}" alt="{image.alternativeText}"
                             title="{f:if(condition:image.title, then:image.title, else:node.properties.title)}"
                             width="820" height="350" allowCropping="TRUE" allowUpScaling="TRUE"/>
                <f:if condition="{node.context.workspace.name} == 'live'"></a></f:if>
            </f:then>
            <f:else>
                <img src="{f:uri.resource(path: 'Images/HeaderImagePlaceHolder.jpg', package: 'DPSG.CampGround')}" title="{node.properties.title}">
            </f:else>
        </f:if>
    </figure>
</div>
