h1, h2, h3, h4 {
  font-family: $font-alternative;
}

h5 {
  font-weight: bold;
  margin-top: 0;
}

.btn {
  color: $dpsg-blue;
  background-color: $border-color;

  &:hover {
    color: white;
    background-color: #4c6e88;
  }
}