{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<ul class="nav navbar-nav">
				<f:render section="itemsList" arguments="{items: items}" />
			</ul>
		</div>
	</div>
</div>


<f:section name="itemsList">
	<f:for each="{items}" as="item">

		<li{ts:render(path:'{item.state}.attributes') -> f:format.raw()}>
		<neos:link.node node="{item.node}">{item.label}</neos:link.node>

		<f:if condition="{item.subItems}">
			<ul class="nav navbar-nav">
				<f:render section="itemsList" arguments="{items: item.subItems}" />
			</ul>
		</f:if>

		</li>
	</f:for>
</f:section>
