$dpsg-blue:							#003056;

$border-radius-base:				0;

$navbar-default-bg:					$dpsg-blue;
$navbar-default-link-color:			white;
$navbar-default-link-hover-color:	white;

$body-bg:							#f0f4f6;

$font-family-sans-serif:			'Arial, Helvetica', sans-serif;
$font-alternative: 					'Merriweather', Georgia, serif;
