{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<header class="header">
	<section class="row-fluid">
		<div class="span2 logo">
			<object class="logo" data="{f:uri.resource(path:'resource://DPSG.CampGround/Public/Images/dpsg.svg')}" type="image/svg+xml">
				<a href="/" title="Start">
					<img class="logo" src="fileadmin/TemplateFluid/dpsg.de/Public/img/dpsg.png" alt="DPSG – DPSG | Deutsche Pfadfinderschaft Sankt Georg">
				</a>
			</object>
		</div>
	</section>
</header>



