{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<div class="container">
	<header class="header">
		<section class="row">
			<div class="col-md-6">
				<div class="logo">
					<object class="logo" data="{f:uri.resource(path:'resource://DPSG.CampGround/Public/Images/dpsg.svg')}" type="image/svg+xml">
						<a href="/" title="Start">
							<img class="logo" src="{f:uri.resource(path:'resource://DPSG.CampGround/Public/Images/dpsg.png')}" alt="DPSG – DPSG | Deutsche Pfadfinderschaft Sankt Georg">
						</a>
					</object>
				</div>
			</div>
			<div class="col-md-6 header-right">
				<div class="row">
					<div class="col-md-10">
						<neos:contentElement.wrap node="{site}">
							<div class="site-title">
								{neos:contentElement.editable(property: 'siteTitle')}
							</div>
						</neos:contentElement.wrap>
					</div>
					<div class="col-md-2">
						<div id="otherPlatformsContainer">
							<f:if condition="{dpsgSettings.FacebookIntegration.PageName}">
								<a href="https://www.facebook.com/{dpsgSettings.FacebookIntegration.PageName}" target="_blank" class="icon-facebook btn"></a>
							</f:if>
						</div>
					</div>
				</div>
			</div>
		</section>
	</header>
</div>



