{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<article class="blog-entry">
	<div class="row">

		<div class="col-md-9">
			<neos:contentElement.wrap node="{node}">
				<h1>
					{neos:contentElement.editable(property: 'title')}
				</h1>
			</neos:contentElement.wrap>

			<f:if condition="{node.properties.storyHeaderImage}">
				<div class="blog-header-image">
					<figure>
						<media:image image="{node.properties.storyHeaderImage}" alt="{node.properties.storyHeaderImage.alternativeText}"
									 title="{node.properties.storyHeaderImage.title}"
									 maximumWidth="820" maximumHeight="350" allowCropping="TRUE"/>
					</figure>
				</div>
			</f:if>

			{content -> f:format.raw()}
		</div>

		<div class="col-md-3">
			<div class="story-meta">
				<div>
					<h5>Stufe</h5>
					<ul>
						<f:if condition="{group}">
							<f:then>
								<f:for each="{group}" as="groupNode">
									<li>
										<neos:link.node node="{groupNode}">{groupNode.properties.title}</neos:link.node>
									</li>
								</f:for>
							</f:then>
							<f:else>
								<a href="stufen.html">Alle</a>
							</f:else>
						</f:if>
					</ul>
				</div>
				<p>
					<f:if condition="{node.properties.storyEndDate}">
						<f:then>Vom {f:format.date(date: node.properties.storyStartDate, format: dateFormat)} bis {f:format.date(date: node.properties.storyEndDate, format: dateFormat)}</f:then>
						<f:else>Am: {f:format.date(date: node.properties.storyStartDate, format: dateFormat)}</f:else>
					</f:if>
				</p>
				<p>Autor {node.properties.author}</p>
			</div>
		</div>


		<footer>
			<f:if condition="{showSocialButtons}">
				<f:render partial="SocialButtons" arguments="{_all}" />
			</f:if>
		</footer>
	</div>
</article>
